test
comp_arch_assignmnet_2

assignment_2/*
!control_module.v
!ex_wb_reg.v
!execute.v
!id_ex_reg.v
!if_id_reg.v
!instruction_fetch.v
!instruction_memory.v
!jump_function.v
!main.v
!main_tb.v
!register_file.v
!mux_1.v
!mux_2.v
!mux_3.v
!write_back.v

comp_arch_assignment_1/*
!ALU_main.v
!control_module.v
!instr_fetch.v
!instr_memory.v
!main.v
!main_tb.v
!mux_1.v
!mux_2.v
!mux_3.v
!register_file.v